@use './var.scss' as *;

.#{$prefix}bubble-menu {
  background: var(--bml-popover-bg);
  box-shadow: var(--bml-box-shadow);
  color: inherit;
  padding: 0.25rem;
  border-radius: var(--bml-border-radius);
  display: flex;
  flex-wrap: nowrap;
  gap: var(--bml-gap);
  position: absolute;
  border: 1px solid var(--bml-border-color);
  z-index: 8;
}

.#{$prefix}color-wrapper {
  display: flex;
  gap: 8px;
  button {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    outline: 2px solid transparent;
    cursor: pointer;
    border: 1px solid var(--bml-border-color);
    span {
      width: 16px;
      height: 16px;
      display: block;
      border-radius: 16px;
      border: 1px solid var(--bml-popover-bg);
    }
    &:hover,
    &.active {
      outline-color: var(--bml-btn-bg-hover);
    }
  }
}
.#{$prefix}more-wrapper {
  display: flex;
  gap: 8px;
}
