@use './var.scss' as *;

.#{$prefix}prosemirror-wrapper {
  --bml-code-font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo,
    Courier, monospace, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif, Segoe UI;
  --bml-font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif, Segoe UI;
  --bml-primary-color: lab(61.28% -38.8 -3.53);
  --bml-gap: 4px;
  --bml-border-radius: 4px;
  --bml-btn-bg: lab(96.91% 0.18 -0.49);
  --bml-btn-bg-hover: lab(90.72% 0.91 -2.44);
  --bml-border-color: lab(90.952 0 -0.0000119209);
  --bml-border-color-active: lab(78.43% 0 -0.01);
  --bml-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  --bml-popover-bg: lab(100% 0 0); // 背景
  --bml-accent: lab(96.52% -0.0000298023 0.0000119209); // 激活色
  --bml-muted-foreground: lab(48.496% 0 0); // 次级文本颜色

  --bml-popover-bg: #ffffff;
  --bml-popover-color: lab(2.75381 0 0);
  --bml-popover-border-color: #e5e5e5;

  --bml-kdb-bg: #f6f6f7;
  --bml-kdb-color: lab(48.496% 0 0);
  --bml-kdb-border-color: lab(90.952 0 -0.0000119209);

  --bml-code-bg: #f6f6f7;
  --bml-code-color: lab(48.496% 0 0);
  --bml-code-border-color: lab(90.952 0 -0.0000119209);

  // input
  --bml-input-bg: rgba(0, 0, 0, 0);
  --bml-input-border-color: lab(90.952 0 -0.0000119209);
  --bml-input-border-color-active: lab(78.43% 0 -0.01);
  --bml-input-placeholder-color: lab(48.496% 0 0);

  // input checkbox
  --bml-input-checkbox-bg: #ffffff;
  --bml-input-checkbox-color: #262626;
  --bml-input-checkbox-border-color: #e5e5e5;
  --bml-input-checkbox-checked-bg: #171717;
  --bml-input-checkbox-checked-border-color: var(
    --bml-input-checkbox-checked-bg
  );
  --bml-input-checkbox-checked-color: #fafafa;
}

@mixin dark-theme-vars {
  --bml-btn-bg: oklab(0.999998 -0.00000980496 0.0000234246 / 0.045);
  --bml-btn-bg-hover: oklab(0.999998 -0.00000980496 0.0000234246 / 0.075);
  --bml-border-color: lab(100 0 0 / 0.1);
  --bml-border-color-active: lab(0% 0 0 / 0.1);
  --bml-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  --bml-popover-bg: lab(15.204% 0 -0.00000596046);
  --bml-accent: lab(27.036% 0 0);
  --bml-muted-foreground: lab(66.128% -0.0000298023 0.0000119209);

  --bml-popover-bg: lab(15.204 0 -0.00000596046);
  --bml-popover-color: lab(98.26 0 0);
  --bml-popover-border-color: lab(100 0 0 / 0.1);

  --bml-kdb-bg: oklab(0.999998 -0.00000980496 0.0000234246 / 0.045);
  --bml-kdb-color: lab(66.128% -0.0000298023 0.0000119209);
  --bml-kdb-border-color: lab(100 0 0 / 0.1);

  --bml-code-bg: oklab(0.999998 -0.00000980496 0.0000234246 / 0.045);
  --bml-code-color: lab(66.128% -0.0000298023 0.0000119209);
  --bml-code-border-color: lab(100 0 0 / 0.1);

  --bml-input-bg: #151515;
  --bml-input-border-color: lab(100 0 0 / 0.1);
  --bml-input-border-color-active: lab(100% 0.01 -0.01 / 0.226);
  --bml-input-placeholder-color: lab(27.036% 0 0);

  --bml-input-checkbox-bg: #151515;
  --bml-input-checkbox-color: #d4d4d4;
  --bml-input-checkbox-border-color: #373737;
  --bml-input-checkbox-checked-bg: #e5e5e5;
  --bml-input-checkbox-checked-border-color: var(
    --bml-input-checkbox-checked-bg
  );
  --bml-input-checkbox-checked-color: #171717;
}

@media (prefers-color-scheme: dark) {
  .#{$prefix}prosemirror-wrapper {
    @include dark-theme-vars;
  }
}

.#{$prefix}prosemirror-wrapper {
  &.dark,
  .dark {
    @include dark-theme-vars;
  }
}
