.image-upload-placeholder {
  position: relative;
  width: 100%;
  height: 9.375rem;
  outline: 2px dashed #ccc;
  border-radius: var(--bml-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 1rem 0;
  overflow: hidden;

  .content {
    color: #888;
    font-family: sans-serif;
  }

  &:hover, &.drag-over {
    background-color: #f0f0f0;
    border-color: #aaa;
  }

  &.uploading {
    cursor: default;
  }

  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #4a90e2;
    width: 0;
    transition: width 0.1s;
  }
}
