@use './var.scss' as *;
@use './prosemirror.scss';
@use './icon.scss';

:root {
  @include light-theme-vars();
}

.dark {
  @include dark-theme-vars();
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     @include dark-theme-vars();
//   }
// }
