@use './var.scss' as *;
@use './prosemirror.scss';
@use './bml-image-block.scss';
@use './slash-commands.scss';
@use './tooltip.scss';
@use './image-upload-placeholder.scss';

.#{$prefix}prosemirror-wrapper {
  position: relative;
  background-color: lab(100% 0 0);
  color: lab(7.78201 -0.0000149012 0);
  --bml-primary-color: lab(61.28% -38.8 -3.53);
  --bml-gap: 4px;
  --bml-border-radius: 4px;
  --bml-btn-bg: lab(96.91% 0.18 -0.49);
  --bml-btn-bg-hover: lab(90.72% 0.91 -2.44);
  --bml-border-color: lab(90.952 0 -0.0000119209);
  --bml-border-color-active: lab(78.43% 0 -0.01);
  --bml-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  --bml-popover-bg: lab(100% 0 0); // 背景
  --bml-accent: lab(96.52% -0.0000298023 0.0000119209); // 激活色
  --bml-muted-foreground: lab(48.496% 0 0); // 次级文本颜色

  --bml-tooltip-bg: lab(2.74% 0 0);
  --bml-tooltip-color: lab(84.92% 0 -0.0000119209);
  --bml-tooltip-kdb-bg: oklab(0.999998 -0.00000980496 0.0000234246 / 0.045);
  --bml-tooltip-kdb-color: lab(66.128% -0.0000298023 0.0000119209);
  --bml-tooltip-kdb-border-color: lab(100 0 0 / 0.1);

  kbd {
    background-color: var(--bml-btn-bg);
    border: 1px solid var(--bml-border-color);
    border-radius: var(--bml-gap);
    color: var(--bml-muted-foreground);
    padding: 0.125rem 0.375rem;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
      monospace;
    font-size: 0.9em;
  }

  .bml-hidden {
    display: none;
  }
}

.#{$prefix}icon {
  width: 0.875rem;
  height: 0.875rem;
}

.#{$prefix}button {
  border-radius: var(--bml-border-radius);
  background-color: var(--bml-btn-bg);
  border: 1px solid var(--bml-btn-bg);
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: inherit;
  &-icon {
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover,
  &.active {
    background-color: var(--bml-btn-bg-hover);
    border-color: var(--bml-btn-bg-hover);
  }
  &:active,
  &:focus {
    background-color: var(--bml-btn-bg-hover);
    border-color: var(--bml-border-color-active);
  }
}

.#{$prefix}prosemirror {
  padding: 0 4.25rem;
  font-size: 1rem;
  outline: none;
}

.#{$prefix}placeholder {
  position: relative;
  &::before {
    content: attr(data-placeholder);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    color: var(--bml-muted-foreground);
  }
}

.#{$prefix}side-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  display: flex;
  gap: var(--bml-gap);
}

.#{$prefix}bubble-menu {
  background: var(--bml-popover-bg);
  box-shadow: var(--bml-box-shadow);
  color: inherit;
  padding: 0.25rem;
  border-radius: var(--bml-border-radius);
  display: flex;
  flex-wrap: nowrap;
  gap: var(--bml-gap);
  position: absolute;
  border: 1px solid var(--bml-border-color);
}

@mixin dark-theme-vars {
  background-color: lab(2.75381 0 0);
  color: lab(98.26 0 0);
  --bml-btn-bg: oklab(0.999998 -0.00000980496 0.0000234246 / 0.045);
  --bml-btn-bg-hover: oklab(0.999998 -0.00000980496 0.0000234246 / 0.075);
  --bml-border-color: lab(100 0 0 / 0.1);
  --bml-border-color-active: lab(0% 0 0 / 0.1);
  --bml-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  --bml-popover-bg: lab(15.204% 0 -0.00000596046);
  --bml-accent: lab(27.036% 0 0);
  --bml-muted-foreground: lab(66.128% -0.0000298023 0.0000119209);

  --bml-tooltip-bg: lab(100% 0.01 -0.01);
  --bml-tooltip-color: lab(15.204 0 -0.00000596046);
  --bml-tooltip-kdb-bg: #f6f6f7;
  --bml-tooltip-kdb-color: lab(48.496% 0 0);
  --bml-tooltip-kdb-border-color: lab(90.952 0 -0.0000119209);

  .prosemirror-dropcursor-block {
    background-color: lab(100 0 0 / 0.2) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .#{$prefix}prosemirror-wrapper {
    @include dark-theme-vars;
  }
}

.#{$prefix}prosemirror-wrapper {
  &.dark {
    @include dark-theme-vars;
  }
}
