@use './var.scss' as *;

.#{$prefix}prosemirror-wrapper {
  position: relative;
  line-height: var(--bml-line-height);
  color: var(--bml-color);
  font-family: var(--bml-font-family);
  font-size: var(--bml-font-size-base);
  background-color: var(--bml-bg-color);

  .ProseMirror-hideselection *::selection {
    background: transparent;
  }
  .ProseMirror-hideselection *::-moz-selection {
    background: transparent;
  }
  .ProseMirror-hideselection {
    caret-color: transparent;
  }

  * {
    box-sizing: border-box;
    scrollbar-width: var(--bml-scrollbar-width);
    scrollbar-color: var(--bml-scrollbar-color);
  }
}

.#{$prefix}prosemirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0;
  padding: 0 4.25rem;
  font-size: inherit;
  outline: none;

  pre {
    white-space: pre-wrap;
  }

  li {
    position: relative;
  }

  [draggable][contenteditable='false'] {
    user-select: text;
  }

  .ProseMirror-selectednode {
    outline: 2px dashed var(--bml-border-color-active);
    border-radius: var(--bml-border-radius);
  }

  li.ProseMirror-selectednode {
    outline: none;
  }

  li.ProseMirror-selectednode:after {
    content: '';
    position: absolute;
    left: -32px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    border: 2px dashed var(--bml-border-color-active);
    pointer-events: none;
  }

  img.ProseMirror-separator {
    display: inline !important;
    border: none !important;
    margin: 0 !important;
  }

  // task list
  li[data-type='task-list-item'] {
    display: flex;
    align-items: flex-start;
    margin-left: 0;
    padding-left: 0;
    gap: 8px;
  }

  li[data-type='task-list-item'] > .task-list-item-checkbox {
    margin-right: 8px;
    cursor: pointer;
  }

  li[data-type='task-list-item'] > .task-list-item-content {
    flex: 1;
  }

  li[data-checked='true'] > .task-list-item-content > p {
    text-decoration: line-through;
    color: #888;
  }

  ul[data-type='task-list'] {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    ul[data-type='task-list'] {
      margin: 0.5em 0 0;
    }
  }

  ul[data-type='task-list'] p {
    padding: 0;
    margin: 0;
  }

  ul[data-type='task-list'] .task-list-item-checkbox-wrapper {
    margin-top: 4px;
  }

  a {
    color: var(--bml-primary-color);
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dotted var(--bml-primary-color);
  }

  a:hover {
    border-bottom-style: solid;
  }

  .underline-mark {
    text-decoration: underline;
  }

  .strikethrough-mark {
    text-decoration: line-through;
    color: var(--bml-color-secondary);
  }
}
