.ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0;
  pre {
    white-space: pre-wrap;
  }
  li {
    position: relative;
  }
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror [draggable][contenteditable='false'] {
  user-select: text;
}

.ProseMirror-selectednode {
  outline: 2px dashed var(--bml-border-color-active);
  border-radius: var(--bml-border-radius);
}

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: '';
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px dashed var(--bml-border-color-active);
  pointer-events: none;
}

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

// task list
.ProseMirror li[data-type='task-list-item'] {
  display: flex;
  align-items: flex-start;
  margin-left: 0;
  padding-left: 0;
  gap: 8px;
}

.ProseMirror li[data-type='task-list-item'] > .task-list-item-checkbox {
  margin-right: 8px;
  cursor: pointer;
}

.ProseMirror li[data-type='task-list-item'] > .task-list-item-content {
  flex: 1;
}

.ProseMirror li[data-checked='true'] > .task-list-item-content > p {
  text-decoration: line-through;
  color: #888;
}

.ProseMirror ul[data-type='task-list'] {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  ul[data-type='task-list'] {
    margin: 0.5em 0 0;
  }
}

.ProseMirror ul[data-type='task-list'] p {
  padding: 0;
  margin: 0;
}

.ProseMirror ul[data-type='task-list'] .task-list-item-checkbox-wrapper {
  margin-top: 4px;
}

.ProseMirror a {
  color: var(--bml-primary-color);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted var(--bml-primary-color);
}

.ProseMirror a:hover {
  border-bottom-style: solid;
}

.ProseMirror .underline-mark {
  text-decoration: underline;
}

.ProseMirror .strikethrough-mark {
  text-decoration: line-through;
  color: var(--bml-muted-foreground);
}
