@use './var.scss' as *;

.#{$prefix}select-wrapper {
  --bml-code-block-border-color: lab(13.61% -0.46 -0.16);
  --bml-code-block-bg: lab(10.27% 0 0);
  position: relative;
  overflow: hidden;
  border-radius: var(--bml-border-radius);
  background-color: var(--bml-btn-bg);
  cursor: pointer;

  svg {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    background-color: #21262d;
    color: #c9d1d9;
    border: none;
    outline: none;
    border-radius: var(--bml-border-radius);
    background-color: var(--bml-code-block-bg);
    border: 1px solid var(--bml-code-block-border-color);
    font-size: 0.875rem;
    cursor: pointer;
    min-height: 1.75rem;
    padding: 0.25rem 1.75rem 0.25rem 0.5rem;
    text-transform: capitalize;
    option {
      text-transform: capitalize;
    }
  }
}
