@use './var.scss' as *;

.#{$prefix}slash-commands {
  position: absolute;
  top: 100%;
  left: 0;
  // width: 100%;
  width: 16rem;
  max-width: 37.5rem;
  // min-width: 22.5rem;
  z-index: 10;
  background-color: var(--bml-popover-bg);
  border: 1px solid var(--bml-border-color);
  border-radius: var(--bml-gap);
  box-shadow: var(--bml-box-shadow);
  overflow: hidden;
  &.hidden {
    display: none;
  }

  &-header {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid var(--bml-border-color);
    font-size: 0.75rem;
    color: inherit;
    display: flex;
    align-items: center;
    min-height: 1.2rem;

    .breadcrumbs {
      display: flex;
      flex: 1;
    }

    .breadcrumb-item {
      cursor: pointer;
    }

    .breadcrumb-item:hover {
      text-decoration: underline;
    }

    .breadcrumb-separator {
      margin: 0 0.5rem;
      color: var(--bml-muted-foreground);
    }
  }

  &-tooltip-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.75rem;
    kbd {
      font-size: 0.75rem;
    }
  }

  &-list-wrapper {
    max-height: 21.875rem;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0.5rem;

    &:has(.emoji) {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
    }
  }

  &-group-header {
    padding: 0.75rem 0.75rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--bml-muted-foreground);
  }

  &-item,
  &-empty {
    padding: 0.5rem 0.75rem;
    border-radius: var(--bml-border-radius);
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
  }

  &-item {
    cursor: pointer;
    justify-content: flex-start;
    &:hover {
      background-color: var(--bml-accent);
    }
    &.selected {
      background-color: var(--bml-accent);
    }
    &.emoji {
      aspect-ratio: 1 / 1;
      padding: 0;
      .title {
        display: block;
        width: 1.5rem;
        text-align: center;
        padding-bottom: 0.25rem;
      }
    }
    .title {
      flex: 1;
    }
    .submenu-arrow {
      font-family: monospace;
      color: var(--bml-muted-foreground);
    }
  }

  &-empty {
    cursor: default;
    color: var(--bml-muted-foreground);
  }
}
