@use './var.scss' as *;

.#{$prefix}tooltip[popover] {
    position: absolute;
    background-color: var(--bml-tooltip-bg);
    color:var(--bml-tooltip-color);
    padding: 0.5rem 0.75rem;
    border-radius: var(--bml-border-radius);
    font-size: 0.875rem;
    max-width: 12.5rem;
    border: none;
    box-shadow: var(--bml-box-shadow);
    margin: 0;
    inset: unset;
    max-height: 18.75rem;
    overflow: auto;
    scrollbar-width: thin;
    
    kbd {
      background-color: var(--bml-tooltip-kdb-bg);
      color: var(--bml-tooltip-kdb-color);
      border-color: var(--bml-tooltip-kdb-border-color);
    }
}

.#{$prefix}tooltip[popover]:popover-open {
    display: block;
    margin-bottom: 0.25rem;
}
