$prefix: 'bml-';

@mixin light-theme-vars {
  --bml-line-height: 1.5;
  --bml-primary-color: #00a699;
  --bml-transition-base: all 200ms ease-in-out;
  --bml-accent: lab(96.52% -0.0000298023 0.0000119209);
  --bml-muted-foreground: lab(48.496% 0 0);

  --bml-code-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  --bml-font-family: 'Inter', sans-serif;

  --bml-font-size-base: 16px;
  --bml-font-size-xs: 0.75rem;
  --bml-font-size-sm: 0.875rem;
  --bml-font-size-lg: 1.125rem;
  --bml-font-size-xl: 1.25rem;

  --bml-spacing-unit: 4px;
  --bml-spacing-md: calc(var(--bml-spacing-unit) * 2); /* 8px */
  --bml-spacing-lg: calc(var(--bml-spacing-unit) * 3); /* 12px */

  --bml-border-radius: 8px;
  --bml-border-radius-sm: 4px;
  --bml-box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 4px;

  --bml-white: #ffffff;
  --bml-black: #0a0a0a;
  --bml-color: #262626;
  --bml-bg-color: var(--bml-white);
  --bml-color-secondary: #8a8f8d;

  --bml-border-color: #e7e9e8;
  --bml-border-active-color: #d8dad9;

  --bml-scrollbar-color: #787878 transparent;
  --bml-scrollbar-width: thin;

  --bml-popover-max-width: 360px;
  --bml-popover-max-height: 500px;
  --bml-popover-bg-color: var(--bml-bg-color);
  --bml-popover-color: var(--bml-color);
  --bml-popover-border-color: var(--bml-border-color);
  --bml-popover-box-shadow: var(--bml-box-shadow);
  --bml-popover-border-radius: var(--bml-border-radius);

  --bml-btn-color: inherit;
  --bml-btn-bg-color: var(--bml-bg-color);
  --bml-btn-border-color: transparent;
  --bml-btn-hover-color: inherit;
  --bml-btn-hover-bg-color: #e4e4e9;
  --bml-btn-hover-border-color: transparent;
  --bml-btn-active-color: inherit;
  --bml-btn-active-bg-color: #e4e4e9;
  --bml-btn-active-border-color: transparent;

  --bml-btn-outline-color: lab(15.204 0 -0.00000596046);
  --bml-btn-outline-bg-color: lab(100 0 0);
  --bml-btn-outline-border-color: #e5e5e5;
  --bml-btn-outline-hover-color: lab(15.204 0 -0.00000596046);
  --bml-btn-outline-hover-bg-color: #f5f5f5;
  --bml-btn-outline-hover-border-color: #e5e5e5;
  --bml-btn-outline-active-color: lab(15.204 0 -0.00000596046);
  --bml-btn-outline-active-bg-color: #f5f5f5;
  --bml-btn-outline-active-border-color: #e5e5e5;

  --bml-code-block-border-color: #222323;
  --bml-code-block-bg: var(--bml-black);

  --bml-select-bg-color: var(--bml-white);
  --bml-select-border-color: var(--bml-border-color);

  --bml-kdb-bg: #f6f6f7;
  --bml-kdb-color: lab(48.496% 0 0);
  --bml-kdb-border-color: lab(90.952 0 -0.0000119209);

  --bml-code-bg: #f6f6f7;
  --bml-code-color: lab(48.496% 0 0);
  --bml-code-border-color: lab(90.952 0 -0.0000119209);

  // input checkbox
  --bml-input-checkbox-bg: #ffffff;
  --bml-input-checkbox-border-color: #e5e5e5;

  --bml-input-checkbox-checked-bg: #171717;
  --bml-input-checkbox-checked-border-color: var(
    --bml-input-checkbox-checked-bg
  );
  --bml-input-checkbox-checked-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGVjay1pY29uIGx1Y2lkZS1jaGVjayI+PHBhdGggZD0iTTIwIDYgOSAxN2wtNS01Ii8+PC9zdmc+');

  --bml-input-bg: rgba(0, 0, 0, 0);
  --bml-input-border-color: lab(90.952 0 -0.0000119209);
  --bml-input-border-color-active: lab(78.43% 0 -0.01);
  --bml-input-placeholder-color: lab(48.496% 0 0);
}

@mixin dark-theme-vars {
  --bml-border-color: lab(100 0 0 / 0.1);
  --bml-border-active-color: lab(0% 0 0 / 0.1);

  --bml-accent: lab(27.036% 0 0);
  --bml-muted-foreground: lab(66.128% -0.0000298023 0.0000119209);

  --bml-bg-color: var(--bml-black);
  --bml-color: #fafafa;
  --bml-scrollbar-color: #4f4f4f transparent;

  --bml-popover-bg-color: var(--bml-black);
  --bml-popover-color: var(--bml-color);
  --bml-popover-border-color: var(--bml-border-color);

  --bml-btn-bg-color: var(--bml-black);
  --bml-btn-border-color: transparent;
  --bml-btn-hover-color: inherit;
  --bml-btn-hover-bg-color: oklab(0.999998 -0.00000980496 0.0000234246 / 0.075);
  --bml-btn-hover-border-color: transparent;
  --bml-btn-active-color: inherit;
  --bml-btn-active-bg-color: oklab(
    0.999998 -0.00000980496 0.0000234246 / 0.075
  );
  --bml-btn-active-border-color: transparent;

  --bml-btn-outline-color: #fafafa;
  --bml-btn-outline-bg-color: oklab(
    0.999998 -0.00000980496 0.0000234246 / 0.045
  );
  --bml-btn-outline-border-color: #3e3e3e;
  --bml-btn-outline-hover-color: #fafafa;
  --bml-btn-outline-hover-bg-color: #1c1c1c;
  --bml-btn-outline-hover-border-color: #3e3e3e;
  --bml-btn-outline-active-color: #fafafa;
  --bml-btn-outline-active-bg-color: #1c1c1c;
  --bml-btn-outline-active-border-color: #3e3e3e;

  --bml-kdb-bg: oklab(0.999998 -0.00000980496 0.0000234246 / 0.045);
  --bml-kdb-color: lab(66.128% -0.0000298023 0.0000119209);
  --bml-kdb-border-color: lab(100 0 0 / 0.1);

  --bml-code-bg: oklab(0.999998 -0.00000980496 0.0000234246 / 0.045);
  --bml-code-color: lab(66.128% -0.0000298023 0.0000119209);
  --bml-code-border-color: lab(100 0 0 / 0.1);

  --bml-input-checkbox-bg: #151515;
  --bml-input-checkbox-border-color: #373737;

  --bml-input-checkbox-checked-bg: #e5e5e5;
  --bml-input-checkbox-checked-border-color: var(
    --bml-input-checkbox-checked-bg
  );
  --bml-input-checkbox-checked-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGVjay1pY29uIGx1Y2lkZS1jaGVjayI+PHBhdGggZD0iTTIwIDYgOSAxN2wtNS01Ii8+PC9zdmc+');

  --bml-input-bg: #151515;
  --bml-input-border-color: lab(100 0 0 / 0.1);
  --bml-input-border-color-active: lab(100% 0.01 -0.01 / 0.226);
  --bml-input-placeholder-color: lab(27.036% 0 0);
}
