@use '../../styles/var.scss' as *;

.#{$prefix}checkbox {
  --width: 18px;
  --height: 18px;
  position: relative;
  width: var(--width);
  height: var(--height);

  overflow: hidden;
  background-color: var(--bml-input-checkbox-bg);
  border: 1px solid var(--bml-input-checkbox-border-color);
  border-radius: var(--bml-border-radius-sm);
  transition: var(--bml-transition);

  &:has(input:checked) {
    background-color: var(--bml-input-checkbox-checked-bg);
    border-color: var(--bml-input-checkbox-checked-border-color);
  }

  input[type='checkbox'] {
    width: var(--width);
    height: var(--height);
    opacity: 0;
    position: relative;
    z-index: 2;
    display: block;
    margin: 0;
    position: 0;
    border: none;
    outline: none;
  }
  .checkbox-icon {
    width: var(--width);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    transition: var(--bml-transition);
  }
  input[type='checkbox']:checked + .checkbox-icon {
    opacity: 1;
    background-color: var(--bml-input-checkbox-checked-bg);
    background-image: var(--bml-input-checkbox-checked-icon);
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }
}
