@use '../../styles/var.scss' as *;

.#{$prefix}button {
  color: var(--bml-btn-color);
  background-color: var(--bml-btn-bg-color);
  border: 1px solid var(--bml-btn-border-color);
  border-radius: var(--bml-border-radius);
  transition: var(--bml-transition-base);
  cursor: pointer;
  margin: 0;
  padding: 0 0.75rem;
  min-height: 2.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 2.25rem;

  &-icon {
    width: 2rem;
    height: 2rem;
    min-height: 2rem;
    line-height: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    color: var(--bml-btn-hover-color);
    background-color: var(--bml-btn-hover-bg-color);
    border-color: var(--bml-btn-hover-border-color);
  }
  &.active,
  &:active,
  &:focus {
    color: var(--bml-btn-active-color);
    background-color: var(--bml-btn-active-bg-color);
    border-color: var(--bml-btn-active-border-color);
  }
  &.outline {
    color: var(--bml-btn-outline-color);
    background-color: var(--bml-btn-outline-bg-color);
    border-color: var(--bml-btn-outline-border-color);
    &:hover {
      color: var(--bml-btn-outline-hover-color);
      background-color: var(--bml-btn-outline-hover-bg-color);
      border-color: var(--bml-btn-outline-hover-border-color);
    }
    &.active,
    &:active,
    &:focus {
      color: var(--bml-btn-outline-active-color);
      background-color: var(--bml-btn-outline-active-bg-color);
      border-color: var(--bml-btn-outline-active-border-color);
    }
  }
  &.radius-sm {
    border-radius: var(--bml-border-radius-sm);
  }
}
