@use './var.scss' as *;

.#{$prefix}button {
  border-radius: var(--bml-border-radius);
  background-color: var(--bml-btn-bg);
  border: 1px solid var(--bml-border-color);
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: inherit;
  &-icon {
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover,
  &.active {
    background-color: var(--bml-btn-bg-hover);
    border-color: var(--bml-btn-bg-hover);
  }
  &:active,
  &:focus {
    background-color: var(--bml-btn-bg-hover);
    border-color: var(--bml-border-color-active);
  }
}