@use './var.scss' as *;

.#{$prefix}code-block-wrapper {
  --bml-code-block-border-color: lab(13.61% -0.46 -0.16);
  --bml-code-block-bg: lab(2.74% 0 0);
  border: 1px solid var(--bml-code-block-border-color);
  border-radius: var(--bml-border-radius);
  background-color: var(--bml-code-block-bg);
  overflow: hidden;
  margin: 1rem 0;
  position: relative;

  .code-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--bml-code-block-border-color);
  }

  .cm-editor {
    height: auto;
    min-height: 100px;
    max-height: 400px;
    scrollbar-width: thin;
  }
}

.#{$prefix}code-block-wrapper + .#{$prefix}code-block-wrapper {
  margin-top: 1rem;
}
