@use './var.scss' as *;

.#{$prefix}input-text {
  background-color: var(--bml-input-bg);
  outline: 1px solid var(--bml-input-border-color);
  border-radius: var(--bml-border-radius);
  overflow: hidden;
  box-sizing: border-box;
  transition: var(--bml-transition);
  &:has(input:focus) {
    outline-color: var(--bml-input-border-color-active);
    outline-width: 2px;
  }
  > input {
    border: 0;
    outline: none;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    font-size: 0.875rem;
    background-color: transparent;
    color: inherit;
    &::placeholder {
      color: var(--bml-input-placeholder-color);
    }
  }
}
