@use './var.scss' as *;

.#{$prefix}side-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  display: flex;
  gap: var(--bml-gap);
  transform: translateY(4px);
  transition: var(--bml-transition);
}
