@use '../../styles/var.scss' as *;

.#{$prefix}select-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--bml-border-radius);
  background-color: var(--bml-select-bg-color);
  cursor: pointer;

  svg {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    border: none;
    outline: none;
    border-radius: var(--bml-border-radius);
    background-color: var(--bml-select-bg-color);
    border: 1px solid var(--bml-select-border-color);
    font-size: 1rem;
    cursor: pointer;
    min-height: 2rem;
    padding: 0.25rem 1.75rem 0.25rem 0.5rem;
    text-transform: capitalize;
    option {
      text-transform: capitalize;
    }
  }
}
